{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
  <div class="row align-items-center text-center justify-content-center d-flex">
    <!-- Product Info Column -->
    <div class="col-md-8">
      <h1>Jiwoo Kim</h1>
      <p class="lead" style="font-style: italic;">Developer Dreamer</p>
      <p>
"Passion is energy. Feel the power that comes from focusing on what excites you."</p>
      <a href="/portfolio" class="apple-a me-5">Portfolio＞</a>
      <a href="skill-stacks" class="apple-a ms-5">Skill Stack＞</a>
    </div>
       <!-- Product Image Column -->
    <div class="col-md-12">
      <img src="static/img/프로필사진.png" alt="Your Portrait" class="product-image">
    </div>
  </div>
</div>
{% endblock %}